{% extends page %}
{% block content %}

{% for message in messages %}
<div class="container alert alert-danger alert-dismissible fade show"> 
    <a class="close" href="/main/change_password" data-dismiss="alert" aria-label="Close">×</a>
    <center>{{ message }}</center>
</div>
{% endfor %}   

{% load static %}
<body style="background-image:url(/static/main/background2.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">   
    <div class="container d-flex justify-content-left align-middle">
        <form  action='{%url "change_password"%}' method='POST'>{% csrf_token %}
            <br>
            <h2>Change Password</h2><br><br>
            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="role" value="{{role}}">
            <h4>Username: <font color="#306198">{{username}}</font></h4><br>
            <input class="form-control"type="password" name="password" value="{{password}}"placeholder="New Password"><br>
            <input class="form-control"type="password" name="password2" value="{{password2}}"placeholder="Confirm New Password"><br><br>
            <input class="btn btn-outline-light btn-primary  n8_content_sub_title" type="submit" value="Update" style="border-radius: 10em; background-color:rgb(49,78,108);">
        </form>  
    </div>
    </body>
</html>
{% endblock %}