{%extends "main/cm_base.html"%}


{%block content%}

{% for message in messages %}
{% if message.tags == 'error' %}
    <div class="container alert alert-danger alert-dismissible fade show"> 
{% else %}
    <div class="container alert alert-success alert-dismissible fade show"> 
{% endif %}
    <a class="close" href="/main/cm_home" data-dismiss="alert" aria-label="Close">×</a>
    <center>{{ message }}</center>
</div>
{% endfor %}   

<div class="n8_container n8_center_block">
    <form class="form-inline" action="" method="post" style="margin-right:calc(1.5vw + 1.5vh);">{% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
            <select class="custom-select mr-sm-2" id="prioritySelection" name="category">
            <option value=-1>All</option>
            {%for cat in allCategories%}
                    <option value={{cat.id}}
                    {% if cat.id == filter %} selected {%endif%}
                    >{{cat.name}}</option>
            {%endfor%}
            </select>
        </div>
        <input class="btn btn-outline-light n8_content_sub_title" type="submit" value="Filter" style="border-radius: 10em; background-color:rgb(49,78,108);">
    </form>

    {% comment %} <form action="" method="get" class="form-inline" style="margin-left:calc(1.5vw + 1.5vh);">
    <div class="form-row align-items-center">
        <div class="col-auto">
        <input type="text" class="form-control mb-2" name="search" placeholder="Search Items">
        </div>
        <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>
    </form> {% endcomment %}

</div>

<div class="n8_container-flex">

{%for item in items%}
    <div class="card n8_card">
    <img class="card-img-top" src="{{item.image.url}}">
    <div class="card-body n8_card_body">
        <h5 class="card-title n8_content_sub_title" style="font-size: calc(0.85vw + 0.8vh); font-family: 'Source Sans Pro', sans-serif;"><b>{{item.name}}</b></h5>
        <p class="card-text n8_content_sub_title" style="font-size: calc(0.75vw + 0.7vh);"> Category: {{item.category.name}} 
        <br>
        Weight: {{item.weight}}
        </p>
    </div>
    <div class="card-body n8_card_form">
        <form class="form-inline" action="" method="post">{% csrf_token %}
            <input type="hidden" name="item" value={{item.id}}>
            <input type="number" name="quantity" min='1' max='99' value=1>&ensp;&ensp;
            <input class="btn btn-outline-light n8_content_sub_title" type="submit" value="Add" style="border-radius: 10em; background-color:#295257;">
    </form>
    </div>
    </div>
{%endfor%}

</div>
{%endblock%}