{%extends "main/dp_base.html"%}


{% for message in messages %}
<div class="alert alert-dismissible">
    <a class="close" href="/main/login" data-dismiss="alert" aria-label="Close">×</a>
    <center><font color="red">{{ message }}</font></center>
</div>
{% endfor %} 

{%block content%}

{% for message in messages %}
<div class="alert alert-dismissible">
    <a class="close" href="/main/dp_dashboard" data-dismiss="alert" aria-label="Close">×</a>
    <center>{{ message }}</center>
</div>
{% endfor %}  

<div class="container" > 
            <div class="d-flex justify-content-between" style="margin-bottom: calc(1vw + 1vh);">
                <div class="col-md6 n8_content_title-big" style ="color: #45b7a7;">
                    Ready to dispatch
                </div>
                <div class="col-md6">
                <a href="{%url "dp_session"%}">
                    <input class="btn btn-outline-light n8_content_sub_title" type="submit" value="Start Dispatch" style="border-radius: 10em; background-color:#295257;">
                </a>
                </div>
            </div>
            <div class="row shadow" style="background-color:white">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Priority</th>
                            <th>Weight</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>
                    {%for order in nextOrders%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.priorityString}}</td>
                        <td>{{order.weightRound}} kg</td>
                        <td>{{order.orderDateTime}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
    </div>
    <br><br><br><br>
    <div class="container">    
            <div class="row">
                <div class="n8_content_title-big" style="margin-bottom: calc(1vw + 1vh);color:#bc1602;">
                    Waiting for dispatch
                </div>
            </div>
            <div class="row shadow" style="background-color:white">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Priority</th>
                            <th>Weight</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>
                   {%for order in orderQueue%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.priorityString}}</td>
                        <td>{{order.weightRound}}</td>
                        <td>{{order.orderDateTime}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
    </div>
{%endblock%}