{% extends page %}
{% block content %}
{% load static %}
<body style="background-image:url(/static/main/background2.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">   
        <div class="container d-flex justify-content-left align-middle" >
            <form  enctype="multipart/form-data" method='POST'>{% csrf_token %}
                <br>
                <h2>Edit Profile</h2><br>
                <div class="row">
                    <div class="col">
                        <label for="firstName">First Name</label>
                        <input type="text" name="firstName" value="{{firstName}}" class="form-control" placeholder="First Name"><br>   
                    </div>
                    <div class="col">
                        <label for="firstName">Last Name</label>
                        <input type="text" name="lastName" value="{{lastName}}" class="form-control" placeholder="Last Name"><br>
                    </div>
                </div>
                <label for="firstName">Username</label>
                <input type="text" name="username" value="{{username}}" class="form-control" placeholder="User Name"><br>
                <label for="firstName">Email</label>
                <input type="email" name="email" value="{{email}}" class="form-control" placeholder="Email"><br>
                <label for="firstName">Change Profile Image</label>
                <input type="file" name="image" class="form-control" style="height:auto;"><br>
                <input class="btn btn-outline-light shadow n8_content_sub_title" type="submit" value="Submit" data-toggle="confirmation" data-title="Are you sure?" style="background-color:#314E6C; border-radius: 10em;">
            </form>  
        </div>
        <br>
    </body>
</html>
{% endblock %}

