{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Francois+One|Lobster|Pacifico|Sanchez|Tajawal" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'main/nav8_style.css' %}">
        <title>
        {%if title%}
        ASP - {{title}}
        {%else%}
        ASP
        {%endif%}
        </title>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark n8_navbar">
            <!-- Navbar content -->
            <a class="navbar-brand n8_navbar_title" href="{%url "cm_home"%}" style="font-family:Lobster;">Air Supply - Pilot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container h-100 d-flex justify-content-center">
            <div class="jumbotron my-auto">
            <form class="form-inline" action="" method="post">{%csrf_token%}
                <table class="table" style="margin-bottom:calc(3.4vw + 3.2vh)">
                    <tr>
                        <td>Role:</td>
                        <td>
                            <select name="userType">
                                <option value="1">Clinic Manager</option>
                                <option value="2">Warehouse Personnel</option>
                                <option value="3">Dispatcher</option>
                                <option value="4">Hospital Authority</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input class="btn btn-light" type="submit" value="Next"></td></tr>
                </table>
            </form>  
            </div>  
        </div>
    </body>
</html>