{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Francois+One|Lobster|Pacifico|Sanchez|Tajawal" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'main/nav8_style.css' %}">
        <title>
        {%if title%}
        ASP - {{title}}
        {%else%}
        ASP
        {%endif%}
        </title>
        </head>
    
        <body style="background-image:url(/static/main/login.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">   
            <nav class="navbar navbar-expand n8_navbar">
                <!-- Navbar content -->
                <a class="navbar-brand n8_navbar_title" href="" style="font-family:Lobster;"><img src="/static/main/navig8.png"  ></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar ml-auto" href="#">
                    
                        <img src="/static/main/logo1.png"  height="30">
                    
                </a>
            </nav>
{%block content%}
        {% for message in messages %}
        <div class="container alert alert-danger alert-dismissible fade show">
                
                <center>{{ message }}</center>
        </div>
        {% endfor %}    
        <div class="container d-flex justify-content-left align-middle">
               <div class="jumbotron" style="background:none;">
                    <form  action='{%url "reset_password"%}' method='POST'>{% csrf_token %}
                        <input type="hidden" name="token" value="{{token}}">
                        <input type="hidden" name='username' value='{{username}}'>
                        <h4>Username:{{username}}</h4><br>
                        <input class="form-control"type="password" name="password" value="{{password}}"placeholder="Password"><br><br>
                        <input class="form-control"type="password" name="password2" value="{{password2}}"placeholder="Confirm Password"><br><br>
                        <input class="btn btn-outline-light btn-primary  n8_content_sub_title" type="submit" value="Confirm" style="border-radius: 10em; background-color:rgb(49,78,108);">
                    </form>  
                </div>  
        </div>
    </body>
</html>
{%endblock%}