{% extends "main/wp_base.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

{% block content %} 

{% for message in messages %}
{% if message.tags == 'error' %}
    <div class="container alert alert-danger alert-dismissible fade show"> 
{% else %}
    <div class="container alert alert-success alert-dismissible fade show"> 
{% endif %}
    <a class="close" href="/main/wp_home" data-dismiss="alert" aria-label="Close">×</a>
    <center>{{ message }}</center>
</div>
{% endfor %}  

    <div class="container">
        <div class="d-flex justify-content-between" style="margin-bottom: calc(1vw + 1vh);">
            <div class="col-md6 n8_content_title-big" style="color: #45b7a7;">
                Queued for Packing
            </div>
        </div>
        <div class="row bg-white shadow">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Order ID</th>
                    <th>Priority</th>
                    <th>Weight</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                {% for order in processing_queue %}
                    <tr>
                        <td>
                            {#                            <form name="form-order" method="post" action="{% url 'order_details' %}">#}
                            {#                                {% csrf_token %}#}
                            {#                                <input type="hidden" name="id" value={{ order.id }}/>#}
                            {#                                <button type="button" class="btn btn-link" onclick="form.submit()">{{ order.id }}</button>#}
                            {#                            </form>#}
                            {{ order.id }}
                        </td>
                        <td>{{ order.priorityString }}</td>
                        <td>{{ order.weightRound }} kg</td>
                        <td>{{ order.orderDateTime }}</td>
                        <td>{{ order.str_status }} </td>
                        <td>
                            {% if forloop.first %}
                                <div class="card-body n8_card_form" style="padding:0px;">
                                    <form class="form-inline" action="{% url 'order_details' %}" method="get">
                                        <input type="hidden" name="id" value={{ order.id }}>
                                        <input type="hidden" name="type" value="process">
                                        <input class="btn btn-outline-light btn-primary  n8_content_sub_title" type="submit" value="Process" style="border-radius: 10em; background-color:#295257;">
                                    </form>
                                </div>
                            {% else %}
                                <div class="card-body n8_card_form" style="padding:0px;">
                                    <form class="form-inline" action="{% url 'order_details' %}" method="get">
                                        <input type="hidden" name="id" value={{ order.id }}>
                                        <input type="hidden" name="type" value="process">
                                        <input class="btn btn-outline-light btn-primary  n8_content_sub_title"
                                               type="submit" value="Disabled" disabled="disabled" style="border-radius: 10em; background-color:#295257;">
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="n8_content_title-big" style="margin-bottom: calc(1vw + 1vh);color:#bc1602;">
                Packing in Progress
            </div>
        </div>
        <div class="row bg-white shadow">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Order ID</th>
                    <th>Priority</th>
                    <th>Weight</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                {% for order in packing_queue %}
                    <tr>
                        <td>
                            {#                            <form name="form-order" method="post" action="{% url 'order_details' %}">#}
                            {#                                {% csrf_token %}#}
                            {#                                <input type="hidden" name="id" value={{ order.id }}/>#}
                            {#                                <button type="button" class="btn btn-link" onclick="form.submit()">{{ order.id }}</button>#}
                            
                            {#                            </form>#}
                            {{ order.id }}
                        </td>
                        <td>{{ order.priorityString }}</td>
                        <td>{{ order.weightRound }}</td>
                        <td>{{ order.orderDateTime }}</td>
                        <td>{{ order.str_status }} </td>
                        <td>
                            <div class="card-body n8_card_form" style="padding:0px;">
                                <form class="form-inline" action="{% url 'order_details' %}" method="get">
                                    <input type="hidden" name="id" value={{ order.id }}>
                                    <input type="hidden" name="type" value="dispatch">
                                    <input class="btn btn-outline-light n8_content_sub_title" type="submit" value="Complete" style="border-radius: 10em; background-color:rgb(49,78,108);">
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}